#deans-gate {
  width: 100vw;
  display: block;
  margin: auto;
}
#picadilly-gardens {
  width: 100vw;
  display: block;
  margin: auto;
}
#manchester-metrolink {
  width: 50vw;
  display: block;
  margin: auto;
}